# Diretórios de ambiente virtual
venv/
.env/

# Compilações Python
__pycache__/
*.py[cod]
*.pyo

# Arquivos de log
*.log

# Arquivos do Power BI
*.pbix

# Arquivos CSV brutos
*.csv

# Configs de sistema operacional
.DS_Store
Thumbs.db

# Configurações de IDE
.vscode/
.idea/

# Backups
*.bak
*.tmp
